.reveal.reveal.reveal img {
	border: none;
	margin: 0;
	box-shadow: none;
}

.reveal pre{
	width: 100%;
	box-shadow: none;
}

.hidden {
	visibility: hidden;
}

.reveal .slides section .highlight-red1 {
	color: #ff2d55
}

.reveal .slides section .highlight-green1 {
	color: #4CD964;
}

.reveal .slides section .highlight-orange {
	color: #FC880E;
}

.reveal .slides section .highlight-yellow {
	color: #F4FB47;
}

.reveal .slides section .highlight-aqua {
	color: #158EF9;
}

.reveal .slides code {
	font-family: "Monaco", monospace;
}

.reveal .slides pre code.big-code {
	font-size: 30px;
	line-height: normal;
	padding: 10px;
}

.reveal .slides pre code.medium-code {
	font-size: 22px;
	line-height: normal;
	padding: 10px;
}
